<div [formGroup]="projectForm" class="">
  <input [required]="true" placeholder="* title" [(ngModel)]="projectBeingUpdated.title" class=""
         formControlName="title" type="text" id="title"
         required value="{{ projectBeingUpdated.title | titlecase }}">

</div>
<div class="">
  <textarea class="" placeholder="description"
            [(ngModel)]="projectBeingUpdated.description"></textarea>
</div>
<div class="">
  <input class="" placeholder="sources" type="text" id="sources" [(ngModel)]="projectBeingUpdated.data">
</div>
