<div class="component">
  <div class="row">
    <span class="owner-title">
      Projects owner: {{ user.name | titlecase }}
    </span>
  </div>
  <div class="row" *ngIf="!(projects.length > 0)">
    <div>
      This user has any project for the moment
    </div>
  </div>
  <div class="project-info-component">
    <app-project-info
      class="col-lg-3 col-md-12 info-project"
      *ngFor="let project of projects"
      [project]="project"
      [isUserLogged]="isUserLogged"
    >
    </app-project-info>
  </div>
</div>
