<nav class="nav-bar">
  <div class="navbar-item center">
      <a class="menu-title-link menu-title-font" [routerLink]="['/']">
        <h2>Road to ninja</h2>
      </a>
  </div>
  <div class="navbar-item lateral right" *ngIf="this.isUserLogged; else login_bouton">
      <span (click)="toggleMenuStatus()">
          <i class="fa fa-bars fa-3x"></i>
      </span>
  </div>
  <!-- sections -->
  <div class="nav-section-container">
    <a class="section-item" href=""> Projects </a>
    <a class="section-item" href=""> Logout </a>
  </div>
</nav>

<!-- logout bouton template -->
<ng-template #login_bouton>
  <div class="navbar-item lateral right">
    <button
      type="button"
      class="btn btn-primary btn-sm navbar-btn"
      (click)="onLogin()"
    >
      Login
    </button>
  </div>
</ng-template>
