.nav-title-link {
  color: #cf09b9;
  text-decoration: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 21px;
}

.nav-title {
  margin: 15px 0 0 20px;
  cursor: pointer;
}


.navbar-brand {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}

.navbar-item {
  display: inline-block;
}

.navbar-item .lateral {
  margin: 0.3em;
}

.nav-bar {
  background-color:#181c44;
  min-height: 4.5rem;
}

.section-item {
  display: block;
  font-family: "Space Mono", monospace;
  font-size: 1.4em;
  line-height: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.section-item:hover {
  color: #cf09b9;
}

#burger-menu-toggle {
  display: none;
}

.burger-menu {
  cursor: pointer;
  margin: 15px 20px 0 0;
}


@media screen and (max-width: 720px) {

  .nav-section-container {
    display: none;
    text-align: center;
    margin-top: 30px;
  }

  #burger-menu-toggle:checked ~ .nav-section-container{
    display: block;
  }

  .nav-bar .section-item {
    display: block;
    height: 60px;
  }

}

@media screen and (min-width: 721px) {
  .nav-bar .section-item {
    display: inline-block;

  }

  .nav-section-container {
    display: inline-block;
    float: right;
  }

  .burger-menu {
    display: none;
  }

  .btn-logout {
    margin-left: 30px;
  }

  .nav-bar {
    padding: 15px 20px 30px;
  }
}
